.list {
  width: 100%;
}

.list ul {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.list ul li::before {
  content: "■";
  font-weight: bolder;
  font-size: 10px;
  display: inline-block;
  width: 1.1em;
  margin-right: 0.3em;
}

.link {
  text-decoration: none;
  color: aliceblue;
  font-size: 12px;
  transition: 0.3s;
}

.link:hover {
  text-decoration: none;
  color: rgb(170, 175, 175);
}
