#list-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-top: 10px;
}
#list-container ul {
  padding: 0;
  list-style: none;
  max-height: max-content;
}
#list-container ul li {
  font-size: 18px;
  background-color: transparent;
  color: white;
  margin-bottom: 3px;
  overflow: auto;
  height: fit-content;
}

#list-container ul li:nth-of-type(1n + 5) {
  /* Max items*/
  display: none;
}

#list-container input[type="text"] {
  width: 210px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid orange;
  color: aliceblue;
  margin-left: 80px;
  margin-top: 10px;
  transition: width 0.3s ease-in-out;
}

#list-container input:focus  {
  border-bottom: 1px solid olivedrab;
  outline: none;
}

::placeholder {
  color: rgba(219, 219, 219, 0.788);
}

#list-container small {
  margin-left: 0px;
  font-size: 10px;
  color: rgb(94, 93, 93);
}

/* User */

.user {
  width: 350px;
  padding: 2px;
}

.location {
  width: 340px;
  height: 70px;
  padding: 0 10px;
  margin-left: 2%;
  margin-top: 10px;
  background-color: #63615f9a;
  color: rgb(193, 194, 196);
  display: flex;
  align-items: center;
}

.location:hover {
  border: 0 solid rgb(122, 100, 2);
  box-shadow: 0 0 5px rgb(255, 217, 0);
  color: rgba(255, 255, 255, 0.829);
}

.location li {
  list-style-type: none;
}

.location li::before {
  content: "■";
  font-weight: bolder;
  font-size: 12px;
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  color: rgb(214, 60, 49);
  animation: li 1s linear infinite;
}

@keyframes li {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.avatar img {
  width: 60px;
  height: 60px;
}

.profile {
  text-align: left;
  margin-left: 10px;
}

.profile li {
  width: 200px;
  border-bottom: 1px solid #575757d8;
}
