/* User */
.user {
  width: 350px;
  padding: 2px;
}

.location {
  width: 340px;
  height: 70px;
  padding: 0 10px;
  margin-left: 2%;
  margin-top: 10px;
  background-color: #63615f9a;
  color: rgb(193, 194, 196);
  display: flex;
  align-items: center;
}

.location:hover {
  border: 0 solid rgb(122, 100, 2);
  box-shadow: 0 0 5px rgb(255, 217, 0);
  color: rgba(255, 255, 255, 0.829);
}

.location li {
  list-style-type: none;
}

.location li::before {
  content: "■";
  font-weight: bolder;
  font-size: 12px;
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  color: rgb(214, 60, 49);
  animation: li 1s linear infinite;
}

@keyframes li {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.avatar img {
  width: 60px;
  height: 60px;
}

.profile {
  text-align: left;
  margin-left: 10px;
}

.profile li {
  width: 200px;
  border-bottom: 1px solid #575757d8;
}
