.nav {
  height: 450px;
  padding: 0;
  background-color: #030303f8;
  text-align: left;
  float: left;
}

.nav ul {
  margin: 0;
  text-align: center;
  padding: 0;
  list-style: none;
}

.nav li {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(65, 64, 64, 0.315);
}

.nav li:hover {
  background-color: rgba(134, 88, 4, 0.726);
  border: 0px solid rgb(122, 100, 2);
  box-shadow: 0.5px 1.5px 5px orange;
}

.nav .link {
  color: white;
}

.nav .active {
  color: rgb(255, 166, 0);
  background-color: yellowgreen;
}
